<div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{currSenha?.id}}</h5>
            <p class="m-0">Nome: {{currSenha?.pessoa?.nome}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>Categoria: {{currSenha?.categoria}}</p>
          </li>
          <li class="list-group-item">
            <p>Protocolo: {{currSenha?.protocolo?.qualidadeProtocolo}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>