<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/json2csv"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <button class="nav-link" (click)="onModalImprimirOpen()">Imprimir protocolo</button>
    <div></div>
  </div>
</nav>
<div><br></div>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let protocolo of protocolos" class="col-md-6 col-xl-6">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{protocolo?.id}}</h5>
            <p class="m-0">{{protocolo?.qualidadeProtocolo}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>Cartorio: {{protocolo?.tituloCartorio}}</p>
          </li>
          <li class="list-group-item">
            <p>Titular: {{protocolo?.nomeTitular}}</p>
          </li>
          <li class="list-group-item">
            <p>Data Entrada: {{protocolo?.dataCriacao}}</p>
          </li>
          <li class="list-group-item">
            <p>Data Vencimento: {{protocolo?.dataEntrega}}</p>
          </li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onModadeletelOpen(protocolo)" class="btn btn-secondary tooltips" data-placement="top"
              data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i>Apagar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteProtocoloaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Apagar protocolo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Informe o Motivo de Exclusão:</label>
            <input type="text" ngModel name="observacao" class="form-control" id="observacao" placeholder="observacao"
              required>
          </div>

          <p>Tem certeza que deseja apagar: {{deleteProtocolo?.qualidadeProtocolo}} ?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            <button class="btn btn-danger" data-dismiss="modal" (click)="onDeleteClick()">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- imprimir Protocolo Modal -->
  <div class="modal fade" id="imprimirProtocoloModel" tabindex="-1" role="dialog"
    aria-labelledby="imprimirProtocoloModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imprimirProtocoloModalLabel">Imprimir Protocolo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onImprimirClick(addForm)">
            <div class="form-group">
              <label for="cartorio">Cartorio</label>
              <select class="custom-select" name="idCartorio" id="idCartorio" ngModel="idCartorio" required>
                <option value="1">Tabelionato de Notas</option>
                <option value="2">Protesto de Títulos</option>
                <option value="3">Registro Civil</option>
              </select>
            </div>

            <div class="form-group">
              <label for="date">Data Protocolo Impressão</label>
              <input type="date" ngModel="dataProtocolo | date:'dd/MM/yyyy'" name="dataProtocolo" class="form-control"
                id="dataProtocolo" placeholder="dataProtocolo" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-pessoa-form" class="btn btn-secondary" data-dismiss="modal">fechar</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Imprimir</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Notification for no protocolos -->
  <div *ngIf="protocolos?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Sem Protocolos registrados!</h4>
      <p>Não foram encontrados protocolos no momento.</p>
    </div>
  </div>
</div>